<form [formGroup]="myForm">
    <input type="text" formControlName="firstname" autocomplete>
    <input type="text" formControlName="lastname" autocomplete>
    <input type="text" formControlName="email" autocomplete>
    <input type="password" formControlName="password" autocomplete="current-password">
    <input type="file" (change)="onFileSelected($event)" >
    <br>
    <hr>
    <input type="submit" (click)="submit()" class="Register">
</form>


<img *ngIf="imageHere" [src]="'data:image/png;base64,' + imageHere" alt="">

<ng-container *ngIf="todos$ | async as todos">
    <div *ngFor="let todo of todos">
        <h4>{{todo.id}}</h4>
        <p>{{todo['whatTodo']}}</p>
        <i>{{todo['whenTodo']}}</i>
    </div>
</ng-container>
