<button (click)="edit()" style="margin-bottom: 10px">Edit User</button>
<button (click)="logout()">LogOut</button>

<div *ngIf="!editing">
    <h2>User Info</h2>
    <p>ID <b>{{userInfo.id}}</b></p>
    <p>First Name: <b>{{userInfo.firstname}}</b></p>
    <p>Last Name: <b>{{userInfo.lastname}}</b></p>
    <p>email Name: <b>{{userInfo.email}}</b></p>


<div>
    <br>
    <p>Image Name: <b>{{userInfo?.image?.name}}</b></p>
    <p>Image Type: <b>{{userInfo?.image?.type}}</b></p>
    <p>Image:</p>
    <img width="500" height="500" *ngIf="userInfo?.image?.image" [src]="'data:image/png;base64,' + userInfo.image.image" alt="">
</div>

</div>

<br>
<div *ngIf="!editing">
    <hr>
    <h2>LogIn</h2>
    <form [formGroup]="loginForm">
        <input placeholder="email" type="email" formControlName="email">
        <input placeholder="password" type="password" formControlName="password" style="margin-bottom: 10px">
        <br>
        <input type="submit" value="Login" (click)="login()">
    </form>
    <hr>
    <h2>Register</h2>

    <form [formGroup]="registerForm">
        <input placeholder="firstname" type="text" formControlName="firstname" autocomplete>
        <input placeholder="lastname" type="text" formControlName="lastname" autocomplete>
        <input placeholder="email" type="text" formControlName="email" autocomplete>
        <input placeholder="password" type="password" formControlName="password" autocomplete="current-password">
        <br>
        <input type="file" (change)="onFileSelected($event)" style="margin-bottom: 10px">
        <br>
        <input type="submit" value="Register" (click)="register()" class="Register">
    </form>

    <hr>
    <h2>Add ToDo</h2>
    <form [formGroup]="todoForm">
        <input type="text" formControlName="whatTodo">
        <input type="datetime-local" formControlName="whenTodo">
        <input type="submit" value="Add" (click)="addTodo()">
    </form>

    <hr>

    <ng-container *ngIf="todos$ | async as todos">
        <div *ngFor="let todo of todos">
            <h3><i>ID: {{todo.id}}</i></h3>
            <p>What todo: <b>{{todo['whatTodo']}}</b></p>
            <p>When Todo: <b>{{todo['whenTodo'] | date : 'medium' }}</b></p>
            <p>Status: <b>{{todo['status'] }}</b></p>
            <p>Created At: <b>{{todo['createdAt'] | date : 'medium' }}</b></p>
            <p>Last Modified At: <b>{{todo['lastModifiedAt'] | date : 'medium' }}</b></p>
            <button (click)="deleteTodo(todo.id)">Delete</button>
            <button (click)="editTodo(todo)">Edit</button>
            <button (click)="updateStatus(todo.id, 'IN_PROGRESS')">Update Status</button>
        </div>
    </ng-container>
</div>

<div *ngIf="editing">
    <h2>Edit User</h2>
    <button (click)="deleteUser()">Delete User</button>
    <form [formGroup]="userEditForm">
        <input placeholder="firstname" type="text" formControlName="firstname" autocomplete>
        <input placeholder="lastname" type="text" formControlName="lastname" autocomplete>
        <input placeholder="email" type="text" formControlName="email" autocomplete>
        <input placeholder="password" type="password" formControlName="password" autocomplete="current-password">
        <br>
        <input type="file" (change)="onFileSelected($event, true)" style="margin-bottom: 10px">
        <br>
        <input type="submit" value="Edit"  [disabled]="userEditForm.invalid" (click)="register(true)" class="Register">
    </form>
</div>
