<main class="main-container">
    <app-error [errorMessages]="errorMessages" ></app-error>
    <form class="register-form" [formGroup]="registrationForm">
        <h1>Signup</h1>
        <input formControlName="email" class="email-input" placeholder="Email" type="text" autocomplete="off">
        <input formControlName="password" class="password" placeholder="Password" type="password" autocomplete="off">
        <input formControlName="firstname" class="firstname" placeholder="First name" type="text" autocomplete="off">
        <input formControlName="lastname" class="lastname" placeholder="Last name" type="text" autocomplete="off">

        <label for="image" class="image" dropImage >
            <p #labelParagraph>Select or drop your profile picture here</p>
            <input #imageInput (change)="imageSelected($event)" id="image" value="Choose an image"
                    accept="image/*" type="file" autocomplete="off">
            <i #icon class="fa-regular fa-image"></i>
        </label>

        <button [disabled]="loading || registrationForm.invalid" type="button" (click)="register()">Submit</button>
        <p class="signup">Already member? <a routerLink="/login" >Login</a></p>
    </form>
</main>
